/* css/aniversariantes.css (VERSÃO FINAL COM VARIÁVEIS) */

#aniversariantes-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aniversariante-item {
    display: flex;
    align-items: center;
    width: 100%;
}

.aniversariante-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--cor-borda); /* Usa variável */
    margin-right: 15px;
}

.aniversariante-nome {
    font-weight: bold;
    color: var(--cor-texto-principal); /* Usa variável */
}

.aniversariante-data-tag {
    margin-left: auto;
    background-color: var(--cor-destaque); /* Usa variável */
    color: var(--cor-texto-invertido); /* Usa variável */
    font-size: 0.8em;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 5px;
}