PORT=3000
CORS_ORIGINS=http://localhost:5173
USER_PHOTO_BASE_URL=
USER_PHOTO_DEFAULT_EXT=jpg
USER_PHOTO_PROXY_ENABLED=false
USER_PHOTO_PROXY_REQUIRE_AUTH=true
USER_PHOTO_SOURCE_BASE_URL=
USER_PHOTO_PROXY_PUBLIC_BASE_URL=
USER_PHOTO_EXTENSIONS=jpg,jpeg,png

SUPABASE_URL=
SUPABASE_KEY=

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=3306

GLPI_API_URL=
GLPI_APP_TOKEN=
GLPI_USER_TOKEN=
GLPI_ADMIN_NUMBER_FIELD=16
GLPI_COMPUTER_USER_FIELD=70
GLPI_COMPUTER_USER_FIELDS=70
GLPI_USER_EMAIL_FIELD=5
GLPI_ACTIVE_PROFILE_ID=
GLPI_ACTIVE_ENTITY_ID=
